[ng-dropdown] > [role="menu"] {
    transform-origin: top center;
    transform: scaleY(0.95);
    opacity: 0;
    pointer-events: none;
    transition:
            transform 0.25s cubic-bezier(0.16, 1, 0.3, 1),
            opacity 0.2s ease;

    &[data-open="true"] {
        transform: scaleY(1);
        opacity: 1;
        pointer-events: auto;
        transition:
                transform 0.25s cubic-bezier(0.16, 1, 0.3, 1),
                opacity 0.15s ease-in;
    }
}
