[ng-dropdown] {
  & > button {
    display: flex;
    align-items: center;
    justify-content: center;
    @apply relative whitespace-nowrap
         gap-2 py-2 rounded-lg shadow-sm bg-white hover:bg-gray-50 
         text-gray-800 border border-gray-200 hover:border-gray-200 px-4;
  }
  & > [role="menu"] {
    @apply left-0 min-w-48 rounded-lg shadow-sm mt-2 z-10 bg-white p-1.5 outline-none border border-gray-200;

    transform-origin: top center;
    transform: translateY(-2px) scaleY(0.95);
    opacity: 0;
    pointer-events: none;
    transition:
      transform 0.25s cubic-bezier(0.16, 1, 0.3, 1),
      opacity 0.2s ease;

    & > * {
      display: flex;
      width: 100%;
      align-items: center;
      @apply px-2 lg:py-1.5 py-2 rounded-md transition-colors text-left
            text-gray-800 hover:bg-gray-50 focus-visible:bg-gray-50
            disabled:opacity-50 disabled:cursor-not-allowed disabled:pointer-events-none;
    }

    & > *:focus-visible {
      @apply outline-none ring-2 ring-offset-2 ring-gray-500;
    }

    &[data-open="true"] {
      transform: translateY(0) scaleY(1);
      opacity: 1;
      pointer-events: auto;
      transition:
        transform 0.25s cubic-bezier(0.16, 1, 0.3, 1),
        opacity 0.15s ease-in;
    }
  }
}
