<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>AngularTS</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico" />
    <link rel="stylesheet" href="/docs/static/css/tailwind-preflight.css" />
    <link rel="stylesheet" href="/docs/assets/angular.css" />
    <script src="/docs/static/js/angular-ts.umd.js"></script>
    <script src="/docs/static/js/angular-css.umd.js"></script>
  </head>

  <body ng-app="ui" ng-cloak>
    <div class="flex w-full items-center justify-center">
      <div ng-dropdown>
        <button>Options</button>
        <div role="menu">
          <a href="#new"> New Task </a>
          <a href="#edit"> Edit Task </a>
          <a href="#delete"> Delete Task </a>
        </div>
      </div>
    </div>
  </body>
</html>
