/* Alert container */
[ng-alert] {
  @apply relative w-full rounded-lg border px-4 py-3 text-sm grid 
          has-[>svg]:grid-cols-[calc(var(--spacing)*4)_1fr] grid-cols-[0_1fr] 
          has-[>svg]:gap-x-3 gap-y-0.5 items-start 
          [&>svg]:size-4 [&>svg]:translate-y-0.5 [&>svg]:text-current 
          bg-card text-card-foreground;

  &:has(> svg) {
    > :nth-child(2) {
      @apply col-start-2 line-clamp-1 min-h-4 font-medium tracking-tight;
    }

    > :nth-child(3) {
      @apply text-muted-foreground col-start-2 grid justify-items-start gap-1 text-sm [&_p]:leading-relaxed;
    }
  }

  &:not(:has(> svg)) {
    @apply grid-cols-[1fr];

    > :first-child {
      @apply font-medium line-clamp-1 min-h-4 tracking-tight;
    }

    > :nth-child(2) {
      @apply text-sm text-muted-foreground grid justify-items-start gap-1 [&_p]:leading-relaxed;
    }
  }
}
