<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak ng-init="otp={a:'', b:'', c:'', d:''}">
    <div class="stack-sm">
      <label>One-time code</label>
      <div ng-input-otp ng-init="otp={a:'', b:'', c:'', d:''}">
        <span data-slot="input-otp-group">
          <span data-slot="input-otp-slot">
            <input ng-model="otp.a" maxlength="1" />
          </span>
        </span>
        <span data-slot="input-otp-separator">-</span>
        <span data-slot="input-otp-group">
          <span data-slot="input-otp-slot">
            <input ng-model="otp.b" maxlength="1" />
          </span>
        </span>
        <span data-slot="input-otp-slot">
          <input ng-model="otp.c" maxlength="1" />
        </span>
        <span data-slot="input-otp-slot">
          <input ng-model="otp.d" maxlength="1" />
        </span>
      </div>
      <div class="output">
        Code: <span ng-bind="otp.a + otp.b + otp.c + otp.d"></span>
      </div>
    </div>
  </body>
</html>
