<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <div class="row">
      <span class="badge">Default</span>
      <span variant="secondary" class="badge">Secondary</span>
      <span variant="destructive" class="badge">Destructive</span>
      <span variant="outline" class="badge">Outline</span>
      <span variant="ghost" class="badge">Ghost</span>
      <span
        variant="custom"
        class="badge"
        style="--badge-background: var(--cyan-9)"
      >
        Custom
      </span>
      <span variant="secondary" class="badge">
        <svg
          class="icon-xs"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M16.704 5.29a1 1 0 0 1 .006 1.414l-7.25 7.31a1 1 0 0 1-1.42 0L3.29 9.22a1 1 0 1 1 1.42-1.408l4.04 4.075 6.54-6.59a1 1 0 0 1 1.414-.006Z"
            clip-rule="evenodd"
          />
        </svg>
        Verified
      </span>
    </div>
  </body>
</html>
