details:is([data-slot="collapsible"], [ng-collapsible]) > summary {
  list-style: none;
}

details:is([data-slot="collapsible"], [ng-collapsible])
  > summary::-webkit-details-marker {
  display: none;
}
