<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AngularCSS Scroll Area</title>
    <link rel="stylesheet" href="/docs/static/css/tailwind-preflight.css" />
    <link rel="stylesheet" href="/docs/static/css/angular.css" />
    <script src="/docs/static/js/angular-ts.umd.js"></script>
    <script src="/docs/static/js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <div ng-scroll-area class="scroll-demo">
      <div class="scroll-area-viewport">
        <div class="stack-sm" style="padding: 16px">
          <h3>Tags</h3>
          <span>v1.2.0-beta.50</span>
          <hr class="separator" />
          <span>v1.2.0-beta.49</span>
          <hr class="separator" />
          <span>v1.2.0-beta.48</span>
          <hr class="separator" />
          <span>v1.2.0-beta.47</span>
          <hr class="separator" />
          <span>v1.2.0-beta.46</span>
          <hr class="separator" />
          <span>v1.2.0-beta.45</span>
        </div>
      </div>
    </div>
  </body>
</html>
