<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>AngularTS</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico" />
    <link rel="stylesheet" href="./docs/assets/angular.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@angular-wave/angular.ts/css/angular.css">
      <script src="https://cdn.jsdelivr.net/npm/@angular-wave/angular.ts/dist/angular-ts.umd.min.js
    "></script>
  </head>
  <body ng-app ng-cloak>

    <div class="flex w-full justify-center data-[align=center]:items-center data-[align=end]:items-end data-[align=start]:items-start h-[450px] p-10">
        <accordion class="accordion border-b divide-y divide-gray-200 w-full">

            <div class="accordion-item">
                <button class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md py-4 text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&[data-state=true]>svg]:rotate-180"
                        aria-expanded="false" aria-controls="panel1" ng-attr-data-state="{{ current=='panel1' }}" ng-click="current='panel1'" id="accordion1">
                    Section 1
                    <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="size-4 text-muted-foreground pointer-events-none shrink-0 translate-y-0.5 transition-transform duration-200">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                </button>
                <div class="overflow-hidden text-sm transition-all" id="panel1" role="region" aria-labelledby="accordion1" ng-show="current=='panel1'">
                    <div class="pt-0 pb-4 flex flex-col gap-4 text-balance">
                        <p>Content for section 1 goes here.</p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <button class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md py-4 text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&[data-state=true]>svg]:rotate-180"
                        aria-expanded="false" aria-controls="panel2"  ng-attr-data-state="{{ current=='panel2' }}"  ng-click="current='panel2'" id="accordion2">
                    Section 2
                    <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="size-4 text-muted-foreground pointer-events-none shrink-0 translate-y-0.5 transition-transform duration-200">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                </button>
                <div class="overflow-hidden text-sm transition-all" id="panel2" role="region" aria-labelledby="accordion2" ng-show="current=='panel2'">
                    <div class="pt-0 pb-4 flex flex-col gap-4 text-balance">
                        <p>Content for section 2 goes here.</p>
                    </div>
                </div>
            </div>

            <!-- Accordion Item 3 -->
            <div class="accordion-item">
                <button class="focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 rounded-md py-4 text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&[data-state=true]>svg]:rotate-180"
                        aria-expanded="false" aria-controls="panel3" ng-attr-data-state="{{ current=='panel3' }}"  ng-click="current='panel3'" id="accordion3">
                    Section 3
                    <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="size-4 text-muted-foreground pointer-events-none shrink-0 translate-y-0.5 transition-transform duration-200">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                </button>
                <div class="overflow-hidden text-sm transition-all" id="panel3" role="region" aria-labelledby="accordion3" ng-show="current=='panel3'">
                    <div class="pt-0 pb-4 flex flex-col gap-4 text-balance">
                        <p>Content for section 3 goes here.</p>
                    </div>
                </div>
            </div>
        </accordion>

    </div>
  </body>
</html>
