/*

Add styles or override variables from the theme here.

*/

$primary: #1c2024;
$secondary: #60646c;
$font-family-sans-serif:
  ui-sans-serif,
  system-ui,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
$font-family-monospace:
  ui-monospace,
  SFMono-Regular,
  Menlo,
  Monaco,
  Consolas,
  "Liberation Mono",
  "Courier New",
  monospace;
$font-size-base: 0.875rem;
$line-height-base: 1.5;
