<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak ng-init="selected='Two'">
    <div class="stack">
      <div class="button-group">
        <button
          type="button"
          variant="outline"
          ng-click="selected='One'"
          class="button"
        >
          One
        </button>
        <button
          type="button"
          variant="outline"
          ng-click="selected='Two'"
          class="button"
        >
          Two
        </button>
        <button
          type="button"
          variant="outline"
          ng-click="selected='Three'"
          class="button"
        >
          Three
        </button>
      </div>
      <div class="output">Selected: {{ selected }}</div>

      <div orientation="vertical" class="button-group">
        <button type="button" variant="outline" class="button">A</button>
        <button type="button" variant="outline" class="button">B</button>
        <button type="button" variant="outline" class="button">C</button>
      </div>
    </div>
  </body>
</html>
