<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <fieldset class="p-10">
      <legend class="mb-3">Density</legend>
      <div ng-radio-group role="radiogroup">
        <div data-slot="field" orientation="horizontal">
          <input
            ng-radio-group-item
            id="density-default"
            name="density"
            type="radio"
            value="default"
          />
          <label ng-label for="density-default">Default</label>
        </div>
        <div data-slot="field" orientation="horizontal">
          <input
            ng-radio-group-item
            id="density-comfortable"
            name="density"
            type="radio"
            value="comfortable"
            checked
          />
          <label ng-label for="density-comfortable">Comfortable</label>
        </div>
        <div data-slot="field" orientation="horizontal">
          <input
            ng-radio-group-item
            id="density-compact"
            name="density"
            type="radio"
            value="compact"
          />
          <label ng-label for="density-compact">Compact</label>
        </div>
      </div>
    </fieldset>
  </body>
</html>
