<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <section ng-command>
      <header>
        <label>
          <input placeholder="Search command..." />
        </label>
      </header>
      <div>
        <button type="button">Deploy project</button>
        <button type="button">Invite member</button>
        <button type="button">Open settings</button>
      </div>
    </section>
  </body>
</html>
