<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <section ng-command>
      <div class="command-input-wrapper">
        <input placeholder="Search command..." class="command-input" />
      </div>
      <ul class="command-list">
        <li class="command-item">Deploy project</li>
        <li class="command-item">Invite member</li>
        <li class="command-item">Open settings</li>
      </ul>
    </section>
  </body>
</html>
