.alert-dialog > dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  display: grid;
  width: calc(100% - calc(var(--spacing) * 8));
  max-width: 20rem;
  gap: calc(var(--spacing) * 6);
  border: 0;
  border-radius: calc(var(--radius) + 4px);
  background: var(--popover);
  color: var(--popover-foreground);
  padding: calc(var(--spacing) * 6);
  box-shadow: 0 0 0 1px color-mix(in srgb, var(--foreground) 10%, transparent);
  outline: none;
  transform: translate(-50%, -50%);
}

.alert-dialog > dialog:not([size="sm"]) {
  --alert-dialog-size: default;
}

.alert-dialog > dialog[size="sm"] {
  --alert-dialog-size: sm;
}

.alert-dialog > dialog > header {
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
  gap: calc(var(--spacing) * 1.5);
  text-align: center;
}

.alert-dialog > dialog > header:has(> figure) {
  grid-template-rows: auto auto 1fr;
  column-gap: calc(var(--spacing) * 6);
}

.alert-dialog > dialog > header > figure {
  display: inline-flex;
  width: calc(var(--spacing) * 16);
  height: calc(var(--spacing) * 16);
  align-items: center;
  justify-content: center;
  margin-block-end: calc(var(--spacing) * 2);
  border-radius: calc(var(--radius) - 2px);
  background: var(--muted);
  color: var(--foreground);
}

.alert-dialog > dialog > header > figure > svg {
  width: calc(var(--spacing) * 8);
  height: calc(var(--spacing) * 8);
}

.alert-dialog > dialog > footer {
  display: flex;
  flex-direction: column-reverse;
  gap: calc(var(--spacing) * 2);
}

:is(.alert-dialog > dialog)[size="sm"] > footer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

:is(.alert-dialog > dialog)[size="sm"] > footer > button {
  width: 100%;
}

.alert-dialog > dialog > header > :is(h1, h2, h3) {
  color: inherit;
  font-size: var(--text-lg);
  font-weight: var(--font-weight-medium);
  line-height: var(--leading-normal);
}

.alert-dialog > dialog > header > p {
  color: var(--muted-foreground);
  font-size: var(--text-sm);
  line-height: 1.5;
  text-wrap: balance;
}

.alert-dialog > dialog > header > p a {
  color: inherit;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.alert-dialog > dialog > header > p a:hover {
  color: var(--foreground);
}

@media (width >= 40rem) {
  .alert-dialog > dialog:not([size="sm"]) {
    max-width: 32rem;
  }

  .alert-dialog > dialog:not([size="sm"]) > header {
    place-items: start;
    text-align: start;
  }

  .alert-dialog > dialog:not([size="sm"]) > header:has(> figure) {
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: auto 1fr;
  }

  .alert-dialog > dialog:not([size="sm"]) > header > figure {
    grid-row: span 2;
  }

  .alert-dialog > dialog:not([size="sm"]) > header > :is(h1, h2, h3, p) {
    grid-column-start: 2;
  }

  .alert-dialog > dialog:not([size="sm"]) > footer {
    flex-direction: row;
    justify-content: flex-end;
  }
}
