<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak ng-init="mode=false">
    <div class="stack-sm">
      <div class="row field" orientation="horizontal">
        <input
          id="airplane-mode"
          type="checkbox"
          ng-model="mode"
          class="switch"
        />
        <label for="airplane-mode" class="label">Airplane mode</label>
      </div>
      <div class="output">Mode enabled: <span ng-bind="mode"></span></div>

      <input aria-label="Remote mode" type="checkbox" class="switch" />
      <input
        aria-label="Small switch"
        size="sm"
        type="checkbox"
        checked
        class="switch"
      />
    </div>
  </body>
</html>
