.drawer > dialog {
  height: auto;
  margin: 0;
}

.drawer > dialog[side="bottom"] {
  --modal-enter-y: 100%;

  inset-inline: 0;
  inset-block: auto 0;
  max-height: 80dvh;
  border-block-start: var(--border-width-default) solid var(--border);
  border-start-start-radius: var(--radius-lg);
  border-start-end-radius: var(--radius-lg);
}

.drawer > dialog[side="top"] {
  --modal-enter-y: -100%;

  inset-inline: 0;
  inset-block: 0 auto;
  max-height: 80dvh;
  border-block-end: var(--border-width-default) solid var(--border);
  border-end-start-radius: var(--radius-lg);
  border-end-end-radius: var(--radius-lg);
}

.drawer > dialog[side="left"] {
  --modal-enter-x: -100%;
  --modal-enter-y: 0;

  inset-block: 0;
  right: auto;
  left: 0;
  border-inline-end: var(--border-width-default) solid var(--border);
  border-start-end-radius: var(--radius-lg);
  border-end-end-radius: var(--radius-lg);
}

.drawer > dialog[side="right"] {
  --modal-enter-x: 100%;
  --modal-enter-y: 0;

  inset-block: 0;
  right: 0;
  left: auto;
  border-inline-start: var(--border-width-default) solid var(--border);
  border-start-start-radius: var(--radius-lg);
  border-end-start-radius: var(--radius-lg);
}

.drawer > dialog[size="half"] {
  max-height: 50dvh;
}

.drawer > dialog::before {
  display: none;
  width: 6.25rem;
  height: calc(var(--spacing) * 1);
  margin-block-start: calc(var(--spacing) * 4);
  flex-shrink: 0;
  align-self: center;
  border-radius: var(--radius-full);
  background: var(--muted);
  content: "";
}

.drawer > dialog[side="bottom"]::before {
  display: block;
}

.drawer > dialog header {
  text-align: start;
}

.drawer > dialog[side="bottom"] header,
.drawer > dialog[side="top"] header {
  text-align: center;
}

@media (width >= 48rem) {
  .drawer > dialog[side="bottom"] header,
  .drawer > dialog[side="top"] header {
    text-align: start;
  }
}
