<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <nav aria-label="breadcrumb" class="breadcrumb">
      <ol class="breadcrumb-list">
        <li class="breadcrumb-item">
          <a href="#" class="breadcrumb-link">Home</a>
        </li>
        <li aria-hidden="true" class="breadcrumb-separator">/</li>
        <li class="breadcrumb-item">
          <a href="#" class="breadcrumb-link">Components</a>
        </li>
        <li aria-hidden="true" class="breadcrumb-separator">/</li>
        <li class="breadcrumb-item">
          <span class="breadcrumb-page">Breadcrumb</span>
        </li>
      </ol>
    </nav>
  </body>
</html>
