<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <div class="stack">
      <label for="email">Email</label>
      <input id="email" placeholder="Email" class="input" />

      <label for="disabled-email">Disabled email</label>
      <input
        id="disabled-email"
        placeholder="Disabled"
        disabled
        class="input"
      />
    </div>
  </body>
</html>
