<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <div class="stack-sm" ng-init="status='Todo'">
      <div class="output">Current: <span ng-bind="status"></span></div>
      <div ng-select data-open="false">
        <button type="button" class="select-trigger">Todo</button>
        <ul class="select-content">
          <li data-value="Todo" aria-selected="true" class="select-item">
            Todo
          </li>
          <li data-value="In progress" class="select-item">In progress</li>
          <li data-value="Done" class="select-item">Done</li>
        </ul>
      </div>
    </div>
  </body>
</html>
