<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <button aria-controls="delete-dialog" style="margin: 1rem">
      Delete project
    </button>
    <section id="delete-dialog" ng-alert-dialog class="alert-dialog">
      <div class="alert-dialog-overlay"></div>
      <dialog class="alert-dialog-content">
        <header class="alert-dialog-header">
          <h2 class="alert-dialog-title">Delete this item?</h2>
          <p class="alert-dialog-description">This action cannot be undone.</p>
        </header>
        <footer class="alert-dialog-footer">
          <button class="alert-dialog-cancel">Cancel</button>
          <button class="alert-dialog-action">Continue</button>
        </footer>
      </dialog>
    </section>
  </body>
</html>
