<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <div class="row" aria-label="Loading profile preview">
      <div
        style="width: 3rem; height: 3rem; border-radius: 9999px"
        class="skeleton"
      ></div>
      <div class="stack-sm" style="width: 16rem">
        <div style="width: 75%; height: 1rem" class="skeleton"></div>
        <div style="width: 55%; height: 1rem" class="skeleton"></div>
      </div>
    </div>
  </body>
</html>
