.card {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
  overflow: hidden;
  border: 1px solid color-mix(in srgb, var(--foreground) 10%, transparent);
  border-radius: calc(var(--radius) + 4px);
  background: var(--card);
  color: var(--card-foreground);
  font-size: var(--text-sm);
}

:is(.card):not(:is([size="sm"], [data-size="sm"])) {
  padding-block: calc(var(--spacing) * 4);
}

:is(.card):is([size="sm"], [data-size="sm"]) {
  gap: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 3);
}

.card:has(> .card-footer) {
  padding-bottom: 0;
}

.card-header {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: calc(var(--spacing) * 1);
  align-items: start;
  padding-inline: calc(var(--spacing) * 4);
}

.card-header:has(.card-action) {
  grid-template-columns: minmax(0, 1fr) auto;
}

:is(.card):is([size="sm"], [data-size="sm"]) .card-header {
  padding-inline: calc(var(--spacing) * 3);
}

.card-title {
  color: var(--card-foreground);
  font-size: 1rem;
  line-height: 1.25;
  font-weight: var(--font-weight-medium);
}

:is(.card):is([size="sm"], [data-size="sm"]) .card-title {
  font-size: var(--text-sm);
}

.card-description {
  color: var(--muted-foreground);
  font-size: var(--text-sm);
  line-height: var(--leading-normal);
}

.card-action {
  grid-column-start: 2;
  grid-row: 1 / span 2;
  place-self: start end;
}

.card-content {
  padding-inline: calc(var(--spacing) * 4);
}

:is(.card):is([size="sm"], [data-size="sm"]) .card-content {
  padding-inline: calc(var(--spacing) * 3);
}

.card-footer {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
  padding: calc(var(--spacing) * 4);
  border-top: 1px solid var(--border);
  background: color-mix(in srgb, var(--muted) 50%, transparent);
}

:is(.card):is([size="sm"], [data-size="sm"]) .card-footer {
  padding: calc(var(--spacing) * 3);
}
