<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <article class="example-card card">
      <header>
        <h2>Login to your account</h2>
        <p>Enter your email below to continue.</p>
        <menu>
          <button variant="link" class="button">Sign up</button>
        </menu>
      </header>
      <section>
        <div class="stack-sm">
          <label for="card-email">Email</label>
          <input
            id="card-email"
            type="email"
            placeholder="m@example.com"
            class="input"
          />
          <label for="card-password">Password</label>
          <input id="card-password" type="password" class="input" />
        </div>
      </section>
      <footer class="stack-sm">
        <button class="button">Login</button>
        <button variant="outline" class="button">Login with provider</button>
      </footer>
    </article>
  </body>
</html>
