<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <section ng-calendar aria-label="May 2026">
      <header>
        <button
          size="icon"
          variant="outline"
          aria-label="Previous month"
          class="button"
        >
          &lt;
        </button>
        <h3>May 2026</h3>
        <button
          size="icon"
          variant="outline"
          aria-label="Next month"
          class="button"
        >
          &gt;
        </button>
      </header>
      <div>
        <abbr>Su</abbr>
        <abbr>Mo</abbr>
        <abbr>Tu</abbr>
        <abbr>We</abbr>
        <abbr>Th</abbr>
        <abbr>Fr</abbr>
        <abbr>Sa</abbr>
        <button data-outside="true" value="2026-04-26">26</button>
        <button data-outside="true" value="2026-04-27">27</button>
        <button data-outside="true" value="2026-04-28">28</button>
        <button data-outside="true" value="2026-04-29">29</button>
        <button data-outside="true" value="2026-04-30">30</button>
        <button value="2026-05-01">1</button>
        <button value="2026-05-02">2</button>
      </div>
    </section>
  </body>
</html>
