[role="group"] {
  display: inline-flex;

  > button {
    border: 1px solid;
    border-color: var(--input);
    background-color: var(--background);
    box-shadow: var(--shadow-xs);
    cursor: pointer;
    border-radius: 0;

    @apply hover:bg-accent hover:text-accent-foreground;

    &:first-child {
      @apply rounded-l-md;
    }

    &:last-child {
      @apply rounded-r-md;
    }

    & + button {
      margin-left: -1px;
    }
  }

  &[orientation="column"] {
    flex-direction: column;

    > button {
      &:first-child {
        @apply rounded-t-md;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        @apply rounded-b-md;
      }

      & + button {
        margin-left: 0;
        margin-top: -1px;
      }
    }
  }
}
