fieldset.field-set {
  @apply flex flex-col gap-4;

  &:has(> :is(.checkbox-group, .radio-group)) {
    @apply gap-3;
  }
}

legend.field-legend {
  @apply mb-1.5 font-medium;

  &[data-variant="label"] {
    @apply text-sm;
  }

  &[data-variant="legend"] {
    @apply text-base;
  }
}

.field-group {
  @apply flex w-full flex-col gap-5;
}

.field {
  @apply flex w-full flex-col gap-2;

  &[orientation="horizontal"],
  &[data-orientation="horizontal"] {
    @apply flex-row items-center;

    &:has(> .field-content) {
      @apply items-start;
    }

    > .field-label {
      @apply flex-auto;
    }

    &:has(> .field-content) > :is(input[type="checkbox"], input[type="radio"]) {
      margin-top: 1px;
    }
  }

  &[orientation="responsive"],
  &[data-orientation="responsive"] {
    @apply flex-col gap-2 md:flex-row md:items-center md:gap-3;
  }

  &:has(:invalid),
  &:has([aria-invalid="true"]),
  &[data-invalid="true"],
  &[aria-invalid="true"] {
    .field-label {
      @apply text-error;
    }
  }

  &[data-disabled="true"] :is(.field-label, .field-title) {
    @apply opacity-50;
  }
}

.field-content {
  @apply flex flex-1 flex-col gap-0.5 leading-snug;
}

.field-label {
  @apply flex w-fit items-center gap-2 text-sm leading-snug font-medium;

  &:has(> .field) {
    @apply w-full flex-col items-start rounded-lg border border-border;

    > .field {
      @apply p-2.5;
    }
  }

  &:has(> .field :is(.checkbox, .radio-group-item, .switch):checked) {
    border-color: color-mix(in srgb, var(--primary) 30%, var(--border));
    background: color-mix(in srgb, var(--primary) 5%, transparent);
  }
}

.field-title {
  @apply flex w-fit items-center gap-2 text-sm font-medium;
}

.field-description {
  @apply text-sm leading-normal font-normal text-muted-foreground;

  a {
    @apply underline underline-offset-4 hover:text-primary;
  }
}

.field-error {
  @apply mt-1 text-sm font-normal text-error;
}

.field-separator {
  @apply relative flex items-center justify-center text-xs text-muted-foreground;

  &::before {
    content: "";

    @apply absolute inset-x-0 top-1/2 border-t border-border;
  }

  &[data-content="true"] > *,
  > .field-separator-content {
    @apply relative bg-background px-2;
  }
}
