.drawer-content {
  height: auto;
  margin: 0;
}

.drawer-content[data-side="bottom"] {
  --modal-enter-y: 100%;

  inset-inline: 0;
  inset-block: auto 0;
  max-height: 80dvh;
  border-block-start: 1px solid var(--border);
  border-start-start-radius: calc(var(--radius) + 2px);
  border-start-end-radius: calc(var(--radius) + 2px);
}

.drawer-content[data-side="top"] {
  --modal-enter-y: -100%;

  inset-inline: 0;
  inset-block: 0 auto;
  max-height: 80dvh;
  border-block-end: 1px solid var(--border);
  border-end-start-radius: calc(var(--radius) + 2px);
  border-end-end-radius: calc(var(--radius) + 2px);
}

.drawer-content[data-side="left"] {
  --modal-enter-x: -100%;
  --modal-enter-y: 0;

  inset-block: 0;
  right: auto;
  left: 0;
  width: 75%;
  max-width: 24rem;
  border-inline-end: 1px solid var(--border);
  border-start-end-radius: calc(var(--radius) + 2px);
  border-end-end-radius: calc(var(--radius) + 2px);
}

.drawer-content[data-side="right"] {
  --modal-enter-x: 100%;
  --modal-enter-y: 0;

  inset-block: 0;
  right: 0;
  left: auto;
  width: 75%;
  max-width: 24rem;
  border-inline-start: 1px solid var(--border);
  border-start-start-radius: calc(var(--radius) + 2px);
  border-end-start-radius: calc(var(--radius) + 2px);
}

.drawer-content[data-size="half"] {
  max-height: 50dvh;
}

.drawer-handle {
  display: none;
  width: 6.25rem;
  height: calc(var(--spacing) * 1);
  margin-block-start: calc(var(--spacing) * 4);
  flex-shrink: 0;
  align-self: center;
  border-radius: 999px;
  background: var(--muted);
}

.drawer-content[data-side="bottom"] > .drawer-handle {
  display: block;
}

.drawer-header {
  text-align: start;
}

.drawer-content[data-side="bottom"] > .drawer-header,
.drawer-content[data-side="top"] > .drawer-header {
  text-align: center;
}

@media (width >= 768px) {
  .drawer-content[data-side="bottom"] > .drawer-header,
  .drawer-content[data-side="top"] > .drawer-header {
    text-align: start;
  }
}
