[data-slot="drawer-content"],
[ng-drawer-content] {
  height: auto;
}

:is([data-slot="drawer-content"], [ng-drawer-content])[data-side="bottom"] {
  inset-inline: 0;
  inset-block-end: 0;
  max-height: 80dvh;
  border-block-start: 1px solid var(--border);
  border-start-start-radius: calc(var(--radius) + 2px);
  border-start-end-radius: calc(var(--radius) + 2px);
}

:is([data-slot="drawer-content"], [ng-drawer-content])[data-side="top"] {
  inset-inline: 0;
  inset-block-start: 0;
  max-height: 80dvh;
  border-block-end: 1px solid var(--border);
  border-end-start-radius: calc(var(--radius) + 2px);
  border-end-end-radius: calc(var(--radius) + 2px);
}

:is([data-slot="drawer-content"], [ng-drawer-content])[data-side="left"] {
  inset-block: 0;
  inset-inline-start: 0;
  width: 75%;
  max-width: 24rem;
  border-inline-end: 1px solid var(--border);
  border-start-end-radius: calc(var(--radius) + 2px);
  border-end-end-radius: calc(var(--radius) + 2px);
}

:is([data-slot="drawer-content"], [ng-drawer-content])[data-side="right"] {
  inset-block: 0;
  inset-inline-end: 0;
  width: 75%;
  max-width: 24rem;
  border-inline-start: 1px solid var(--border);
  border-start-start-radius: calc(var(--radius) + 2px);
  border-end-start-radius: calc(var(--radius) + 2px);
}

:is([data-slot="drawer-content"], [ng-drawer-content])[data-size="half"] {
  max-height: 50dvh;
}

[data-slot="drawer-handle"],
[ng-drawer-handle] {
  display: none;
  width: 6.25rem;
  height: calc(var(--spacing) * 1);
  margin-block-start: calc(var(--spacing) * 4);
  flex-shrink: 0;
  align-self: center;
  border-radius: 999px;
  background: var(--muted);
}

:is([data-slot="drawer-content"], [ng-drawer-content])[data-side="bottom"]
  > :is([data-slot="drawer-handle"], [ng-drawer-handle]) {
  display: block;
}

[data-slot="drawer-header"],
[ng-drawer-header] {
  text-align: start;
}

:is([data-slot="drawer-content"], [ng-drawer-content])[data-side="bottom"]
  > :is([data-slot="drawer-header"], [ng-drawer-header]),
:is([data-slot="drawer-content"], [ng-drawer-content])[data-side="top"]
  > :is([data-slot="drawer-header"], [ng-drawer-header]) {
  text-align: center;
}

@media (width >= 768px) {
  :is([data-slot="drawer-content"], [ng-drawer-content])[data-side="bottom"]
    > :is([data-slot="drawer-header"], [ng-drawer-header]),
  :is([data-slot="drawer-content"], [ng-drawer-content])[data-side="top"]
    > :is([data-slot="drawer-header"], [ng-drawer-header]) {
    text-align: start;
  }
}
