<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <div
      ng-aspect-ratio
      ratio="16 / 9"
      style="width: min(100%, 28rem); border-radius: var(--radius)"
    >
      <div class="media-surface">
        <span>16:9</span>
      </div>
    </div>
  </body>
</html>
