<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/docs/static/css/tailwind-preflight.css" />
    <link rel="stylesheet" href="/docs/static/css/angular.css" />
    <link rel="stylesheet" href="/docs/static/examples/example.css" />
    <script src="/docs/static/js/angular-ts.umd.js"></script>
    <script src="/docs/static/js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <span ng-hover-card>
      <button>Account</button>
      <aside>
        <h3>Profile</h3>
        <p>Profile preview</p>
      </aside>
    </span>
  </body>
</html>
