<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AngularCSS Hover Card</title>
    <link rel="stylesheet" href="/docs/static/css/preflight.css" />
    <link rel="stylesheet" href="/docs/static/css/angular.css" />
    <link rel="stylesheet" href="/docs/static/examples/example.css" />
    <script src="/docs/static/js/angular-ts.umd.js"></script>
    <script src="/docs/static/js/angular-css.umd.js"></script>
  </head>
  <body ng-app="angular.css" ng-cloak data-example="hover-card-demo">
    <main class="visual-example">
      <span ng-hover-card open-delay="10" close-delay="100">
        <button type="button" variant="link">Hover Here</button>
        <aside>
          <h3>@nextjs</h3>
          <p>The React Framework - created and maintained by @vercel.</p>
          <footer>Joined December 2021</footer>
        </aside>
      </span>
    </main>
  </body>
</html>
