<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/docs/static/css/tailwind-preflight.css" />
    <link rel="stylesheet" href="/docs/static/css/angular.css" />
    <link rel="stylesheet" href="/docs/static/examples/example.css" />
    <script src="/docs/static/js/angular-ts.umd.js"></script>
    <script src="/docs/static/js/angular-css.umd.js"></script>
  </head>
  <body
    ng-app="ui"
    ng-cloak
    ng-init="menu={fullUrls:true,profile:'benoit'}"
    class="menubar-example-body"
  >
    <main class="menubar-demo visual-example">
      <nav ng-menubar aria-label="Application menu">
        <section>
          <button type="button">File</button>
          <menu>
            <section>
              <button type="button">New Tab <kbd>⌘T</kbd></button>
              <button type="button">New Window <kbd>⌘N</kbd></button>
              <button type="button" disabled>New Incognito Window</button>
            </section>
            <hr />
            <details>
              <summary>Share</summary>
              <menu>
                <button type="button">Email link</button>
                <button type="button">Messages</button>
              </menu>
            </details>
            <hr />
            <button type="button">Print... <kbd>⌘P</kbd></button>
          </menu>
        </section>

        <section>
          <button type="button">Edit</button>
          <menu>
            <button type="button">Undo</button>
            <button type="button">Redo</button>
            <hr />
            <button type="button">Cut</button>
            <button type="button">Copy</button>
            <button type="button">Paste</button>
          </menu>
        </section>

        <section>
          <button type="button">View</button>
          <menu>
            <button
              type="button"
              aria-checked="{{ menu.fullUrls }}"
              ng-click="menu.fullUrls=!menu.fullUrls"
            >
              Full URLs
            </button>
            <hr />
            <button type="button" inset>Reload</button>
          </menu>
        </section>

        <section>
          <button type="button">Profiles</button>
          <menu>
            <fieldset aria-label="Profile">
              <button
                type="button"
                aria-checked="{{ menu.profile === 'andy' }}"
                ng-click="menu.profile='andy'"
              >
                Andy
              </button>
              <button
                type="button"
                aria-checked="{{ menu.profile === 'benoit' }}"
                ng-click="menu.profile='benoit'"
              >
                Benoit
              </button>
            </fieldset>
          </menu>
        </section>
      </nav>
    </main>
  </body>
</html>
