.toggle-group {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  gap: var(--toggle-group-gap, 0);
  margin: 0;
  padding: 0;
  border: 0;
}

.toggle-group[orientation="vertical"] {
  flex-direction: column;
  align-items: stretch;
}

.toggle-group[spacing="1"] {
  --toggle-group-gap: calc(var(--spacing) * 1);
}

.toggle-group[spacing="2"] {
  --toggle-group-gap: calc(var(--spacing) * 2);
}

.toggle-group > label {
  position: relative;
  flex-shrink: 0;
}

.toggle-group > label > input {
  position: absolute;
  width: var(--border-width-default);
  height: var(--border-width-default);
  opacity: 0;
}

.toggle-group > label:where(:has(input:focus-visible)) {
  z-index: 1;
  outline: var(--focus-ring-width) solid var(--ring);
  outline-offset: var(--focus-ring-offset);
}

.toggle-group[variant="outline"]:not([spacing]) {
  gap: 0;
}

.toggle-group[variant="outline"]:not([spacing]) > label {
  margin-inline-start: calc(var(--border-width-default) * -1);
  border-color: var(--input);
  border-radius: 0;
}

.toggle-group[variant="outline"]:not([spacing]) > label:first-of-type {
  margin-inline-start: 0;
  border-start-start-radius: var(--radius-md);
  border-end-start-radius: var(--radius-md);
}

.toggle-group[variant="outline"]:not([spacing]) > label:last-of-type {
  border-start-end-radius: var(--radius-md);
  border-end-end-radius: var(--radius-md);
}

.toggle-group[orientation="vertical"][variant="outline"]:not([spacing])
  > label {
  margin-block-start: calc(var(--border-width-default) * -1);
  margin-inline-start: 0;
}

.toggle-group[orientation="vertical"][variant="outline"]:not([spacing])
  > label:first-of-type {
  margin-block-start: 0;
  border-radius: var(--radius-md) var(--radius-md) 0 0;
}

.toggle-group[orientation="vertical"][variant="outline"]:not([spacing])
  > label:last-of-type {
  border-radius: 0 0 var(--radius-md) var(--radius-md);
}
