<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AngularCSS Toggle Group</title>
    <link rel="stylesheet" href="/docs/static/css/preflight.css" />
    <link rel="stylesheet" href="/docs/static/css/angular.css" />
    <link rel="stylesheet" href="/docs/static/examples/example.css" />
    <script src="/docs/static/js/angular-ts.umd.js"></script>
    <script src="/docs/static/js/angular-css.umd.js"></script>
  </head>
  <body ng-app="angular.css" ng-cloak ng-init="alignment='center'">
    <div class="stack-sm">
      <fieldset class="toggle-group visual-example" variant="outline">
        <legend class="visually-hidden">Text alignment</legend>
        <label>
          <input
            type="radio"
            name="alignment"
            value="left"
            ng-model="alignment"
          />
          Left
        </label>
        <label>
          <input
            type="radio"
            name="alignment"
            value="center"
            ng-model="alignment"
          />
          Center
        </label>
        <label>
          <input
            type="radio"
            name="alignment"
            value="right"
            ng-model="alignment"
          />
          Right
        </label>
      </fieldset>
      <output class="output">
        Alignment: <span ng-bind="alignment"></span>
      </output>
    </div>
  </body>
</html>
