<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/tailwind-preflight.css" />
    <link rel="stylesheet" href="../../css/angular.css" />
    <link rel="stylesheet" href="../example.css" />
    <script src="../../js/angular-ts.umd.js"></script>
    <script src="../../js/angular-css.umd.js"></script>
  </head>
  <body ng-app="ui" ng-cloak>
    <div data-slot="table-container">
      <table ng-table>
        <caption data-slot="table-caption">
          A list of recent invoices.
        </caption>
        <thead data-slot="table-header">
          <tr data-slot="table-row">
            <th data-slot="table-head">Invoice</th>
            <th data-slot="table-head">Status</th>
            <th data-slot="table-head">Method</th>
            <th data-slot="table-head" class="text-right">Amount</th>
          </tr>
        </thead>
        <tbody data-slot="table-body">
          <tr data-slot="table-row">
            <td data-slot="table-cell">INV001</td>
            <td data-slot="table-cell">Paid</td>
            <td data-slot="table-cell">Card</td>
            <td data-slot="table-cell" class="text-right">$250.00</td>
          </tr>
          <tr data-slot="table-row">
            <td data-slot="table-cell">INV002</td>
            <td data-slot="table-cell">Pending</td>
            <td data-slot="table-cell">PayPal</td>
            <td data-slot="table-cell" class="text-right">$150.00</td>
          </tr>
          <tr data-slot="table-row">
            <td data-slot="table-cell">INV003</td>
            <td data-slot="table-cell">Unpaid</td>
            <td data-slot="table-cell">Transfer</td>
            <td data-slot="table-cell" class="text-right">$350.00</td>
          </tr>
        </tbody>
        <tfoot data-slot="table-footer">
          <tr data-slot="table-row">
            <td data-slot="table-cell" colspan="3">Total</td>
            <td data-slot="table-cell" class="text-right">$750.00</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>
