input[type="checkbox"].switch {
  @apply relative inline-flex h-[18.4px] w-8 shrink-0 appearance-none items-center
    rounded-full border border-transparent bg-input shadow-xs transition-colors
    outline-none disabled:cursor-not-allowed disabled:opacity-50
    focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px]
    aria-invalid:border-error aria-invalid:ring-error/20
    dark:bg-input/80 dark:aria-invalid:ring-error/40;
}

input[type="checkbox"].switch::after {
  content: "";

  @apply pointer-events-none block size-4 translate-x-0 rounded-full bg-background
    ring-0 transition-transform;
}

input[type="checkbox"].switch:checked {
  @apply bg-primary;
}

input[type="checkbox"].switch:checked::after {
  @apply translate-x-[14px];
}

input[type="checkbox"].switch[size="sm"] {
  @apply h-4 w-7;

  &::after {
    @apply size-3;
  }

  &:checked::after {
    @apply translate-x-[10px];
  }
}
