/* Accordion container */
[ng-accordion] {
  @apply divide-y divide-gray-200 w-full;
}

/* Accordion buttons */
[ng-accordion] > * > * > button {
  color: inherit !important;
  background-color: inherit !important;
  box-shadow: inherit !important;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @apply gap-4 py-4 text-left w-full
    text-sm font-medium transition-all outline-none 
    hover:underline focus:outline-none focus-visible:ring-2 
    focus-visible:ring-ring focus-visible:ring-offset-2;
  svg {
    @apply size-4 text-muted-foreground 
    pointer-events-none shrink-0 
    translate-y-0.5 transition-transform duration-200;
  }
}

/* Chevron rotation */
[ng-accordion] > * > * > button[aria-expanded="true"] > svg {
  @apply rotate-180 transition-transform duration-200;
}

/* Panels */
[ng-accordion] > * > *:nth-child(2) {
  @apply pt-0 gap-4 text-balance text-sm;
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition:
    padding 0.2s ease-in,
    max-height 0.2s ease-out 0.05s;
  &[data-open="true"] {
    @apply pb-4;
    max-height: 100vh;
    transition:
      max-height 0.2s ease-in,
      padding 0.2s ease-out 0.05s;
  }
}
